<!-- views/businesses/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cars Index</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All Cars</h1>
      <a class="add-business" href="/cars/new">Add Car</a>
    </div>

    <ul>
			<% allCars.forEach(car => { %>
        <li>
				<h2>
          <a class="business-cards" href="/cars/<%= car._id %>">
            <%= car.name %>
          </a>
        </h2>
				<p><strong>Price:</strong> <%= car.price %></p>
				<p><strong>Model:</strong> <%= car.model %></p>
				<p><strong>Manufacturer:</strong> <%= car.manufacturer %></p>
				<p><strong>Number of Owners:</strong> <%= car.owners %></p>
				<% if (car.description) { %>
				<p><strong>Description:</strong><%= car.description %></p>
				<% } %>
				<hr />
			</li>
			<% }) %>
		</ul>



  </body>
</html>