<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= foundCar.name %></title>
  </head>

  <body>
		<h1><%= foundCar.name %></h1>

		<p><strong>Price:</strong><%= foundCar.price %></p>
		<p><strong>Model:</strong><%= foundCar.model %></p>
		<p><strong>Manufacturer:</strong><%= foundCar.manufacturer %></p>
		<p><strong>Number of owners:</strong> <%= foundCar.owners %></p>

		<% if (foundCar.description) { %>  
      <p><strong>Description:</strong><%= foundCar.description %></p>
		<% } %>

    <div class="actions">
      <form class="delete-form" action="/cars/<%= foundCar._id %>?_method=DELETE" method="POST">
        <button class="delete-button" type="submit">Delete <%= foundCar.name %></button>
      </form>
      
      <a class="edit-link" href="/cars/<%= foundCar._id %>/edit">
        <div class="edit-text">Edit <%= foundCar.name %></div>
      </a>
    </div>

    <a class="businesses-index-link" href="/cars/">
      <div class="index-link-text">Back to All Cars</div>
    </a>
    
  </body>

</html>